body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #000;
}

.navbar-brand {
  font-family: 'Lovelo', sans-serif;
  font-weight: 900;
  color: #000;
  font-size: 1.5rem;
}

.nav-link {
  font-family: 'Lovelo', sans-serif;
  font-weight: 900;
  color: #000;
  transition: 0.3s;
}

.nav-link:hover {
  color: #0307af;
}

#logoimg {
  height: 50px;
  width: 50px;
}

h1, h2 {
  font-family: 'Lovelo', sans-serif;
  font-weight: 900;     
}

footer {
  background-color: #0307af;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
